extends layout


block contenido 
    .cabecera
        h1 Grupos 
    each result in resultado
        section.columns(onclick='window.location.href="http://localhost:3000/pedido/"' ) 

            div
                img.imagen(src="https://prints.ultracoloringpages.com/61625ee67b6301ff573e91e4512f66e5.png")
                p.numero=result.group_number
                         
            div.column=moment(result.group_date).format('DD-MM-YYYY')