extends layout

block contenido
    if resultado > 1 
        p Quieres cargar los datos
        button(onclick='window.location.href="True"' ) OK 
        button(onclick='window.location.href="False"') NO
    else
        .cabecera 
            h1 Lineas de Pedido 
        each result in resultado
            section.columns 
                div
                    img.imagen(src="https://prints.ultracoloringpages.com/61625ee67b6301ff573e91e4512f66e5.png")
                .column=result.CodigoArticulo
                    p=result.DescripcionArticulo
                    p="Almacen: " + result.CodigoAlmacen
                .column 
                    p="Unidades: " + result.UnidadesPedidas
