extends layout

block contenido
    .cabecera
        h1 Pedidos
       
        each resul in resultadoERP
            section(onclick='window.location.href="http://localhost:3000/grupos"')
                h1='Grupos: '
                p.numero1=resul.numero
    .fechas
        label Fecha Inicio:  
        input(type="date", name="FechaInicio",value= FechaInicio)
        label Fecha Fin:  
        input(type="date", name="FechaFin",value= FechaFinal)
    each result in resultado
        section.columns(onclick='window.location.href="http://localhost:3000/pedido/'+ result.NumeroPedido +'/'+ result.SeriePedido+'/'+ result.EjercicioPedido +'/'+ result.CodigoCliente+'/"' ) 

            div
                img.imagen(src="https://prints.ultracoloringpages.com/61625ee67b6301ff573e91e4512f66e5.png")
                p.numero=result.NumeroLineas
                
            div.column=result.EjercicioPedido+'/'+result.SeriePedido+'/'+result.NumeroPedido
                p=result.CodigoCliente
                p=result.RazonSocial
            div.column=moment(result.FechaNecesaria).format('DD-MM-YYYY')

            
