.app {
  margin: 10px;
  padding: 10px;
  color: red;
}
.app:hover {
  background-color: silver;
}
.imagen {
  margin: 5px 10px 5px 0px;
  width: 75px;
  height: 75px;
  position: relative;
  z-index: -1;
}
.numero {
  position: relative;
  bottom: 50px;
  left: 50px;
  width: 10px;
  background-color: silver;
  border-radius: 20px;
  color: slategrey;
  font-size: 14px;
}

.columns {
  width: 750px;
  display: flex;
  flex-flow: row wrap;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 20px;
}
.column {
  flex: 1;
  margin: 2px;
  padding: 15px;
}

.cabecera {
  width: 900px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 5px auto;
}
.numero1 {
  position: relative;
  bottom: 0px;
  left: 50px;
  width: 30px;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}

.cabecera section:hover {
  background-color: lavender;
}
.fechas {
  text-align: center;
}
